body{
    background-color: blue;

}
.container{
  background-color: lightblue;
  color: green;
  flex-direction: unset;
  
}
.list-group-item{
    margin: 20px;
    padding: 10px;
    width: auto;
}
#item-list{
    width: 250px;
    height: fit-content;
    display: inline-table;
    

}
.p-3{
    width: fit-content;
}
.text-center{
    display: flex;
}